<!-- Library has two columns: -->
<!-- First: A table that contains all the games you've added. -->
<!-- Second: A means to filter the table -->

<div class="container">
    <!-- This first row just contains the heading and description -->
    <div class="row row-cols-1 justify-content-center my-3">
        <div class="col-md-auto text-center">
            <div class="container p-5">
                <h2>Your Library</h2>
                <p class="text-break fs-5 text-muted">On this page, you can see all the
                    games that you have added to your digital library. <br>
                    If you want to add another game, just click the "Add Game" button. <br>
                    If you want to edit existing game entries, just click on the entry you want to edit </br>
                </p>
            </div>
        </div>
    </div>

    <!-- This is a row that only contains the "Add Game" button -->
    <div class="row row-cols-1 justify-content-center my-3">
        <div class="d-grid gap-2 col-3">
            <button class="btn btn-outline-primary" id="addGame" type="button">+ Add
                Game</button>
        </div>
        <form id="addGameForm" class="border bg-secondary bg-gradient" style="display: none;">
            <div class="mb-3">
                <input type="text" class="form-control mt-2" id="gameName" placeholder="Game Title" />
            </div>
            <select class="form-select" id="platform" aria-label="Platform">
                <option selected>Platform</option>
                <option value="PC">PC</option>
                <option value="PS5">PS5</option>
                <option value="PS4">PS4</option>
                <option value="PS3">PS3</option>
                <option value="Xbox Series X and Xbox Series S">Xbox Series X and Xbox Series S</option>
                <option value="Xbox One">Xbox One</option>
                <option value="Xbox 360">Xbox 360</option>
                <option value="Switch">Switch</option>
                <option value="Wii U">Wii U</option>
                <option value="Wii">Wii</option>
            </select>
            <br>
            <div class="container">
                <div class="row">
                    <div class="form-check col-lg-2">
                        <input class="form-check-input" type="checkbox" id="beaten">
                        <label class="form-check-label text-light" for="beaten">
                            Beaten
                        </label>
                    </div>
                    <div class="form-check col-lg-2">
                        <input class="form-check-input" type="checkbox" id="currently_playing">
                        <label class="form-check-label text-light" for="currently_playing">
                            Currently Playing
                        </label>
                    </div>
                    <div>
                        <div class="row  ">
                            <div class="position-relative">
                                <button type="submit" id="submitGame"
                                    class="btn btn-primary btn-lg position-absolute bottom-0 start-50 translate-middle-x">Submit</button>
                            </div>
                            <div class="position-relative">
                                <button type="button" id="cancelGame"
                                    class="btn btn-primary btn-lg position-absolute bottom-0 end-0">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- modal popup if name isn't entered or platform wasn't selected --}}
                <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content border border-4 border-danger">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Missing Content!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Please fill out the form accordingly.
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>



    <!-- This is the main row which contains the two columns -->
    <div class="row justify-content-center my-3">

        <!-- Filter-Table controls -->
        <div class="col-lg-2 col-sm-12 col-xs-12 text-center">
            <div class="container p-1">
                Filter By:
                <ul class="m-2 list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                        None
                    </button>

                    <button type="button" class="list-group-item list-group-item-action">Currently Playing</button>
                    <button type="button" class="list-group-item list-group-item-action">Beaten</button>
                    <button type="button" class="list-group-item list-group-item-action">Platform</button>

                </ul>
            </div>
        </div>

        <!-- Library Table -->
        <div class="col-lg-8 col-sm-12 col-xs-12 text-center">
            <div class="table-responsive-sm p-1" style="overflow: auto">
                <table class="table table-hover">

                    <!-- Heading row -->
                    <thead>
                        <tr>
                            <th scope="col">Game Title</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Beaten?</th>
                            <th scope="col">Currently Playing?</th>
                            <th scope="col" class="d-none" id="cancelCol"></th>
                            <th scope="col" class="d-none" id="deleteCol"></th>
                            <th scope="col" class="d-none" id="saveCol"></th>
                        </tr>
                    </thead>

                    <!-- The actual games -->
                    <tbody id="ownedGames">
                        {{#each users as |user|}}
                        {{#if user.owned_games.length}}
                        {{#each user.owned_games as |game|}}
                        <tr class="userGames" id="{{game.id}}">
                            <th scope="row">{{game.name}}</th>
                            <td>{{game.platform}}</td>
                            <td>{{format_time game.date_added}}</td>
                            <td>{{game.beaten}}</td>
                            <td>{{game.currently_playing}}</td>
                        </tr>
                        {{!-- edit game form --}}
                        <tr class="editGameForm d-none" id="{{game.id}}">
                            <th><input type="text" class="" id="editName" value={{game.name}} /></th>
                            <td><select class="form-select" id="editPlatform" aria-label="Platform">
                                    <option value="{{game.platform}}" selected >{{game.platform}}</option>
                                    <option value="PC">PC</option>
                                    <option value="PS5">PS5</option>
                                    <option value="PS4">PS4</option>
                                    <option value="PS3">PS3</option>
                                    <option value="Xbox Series X and Xbox Series S">Xbox Series X and Xbox Series S
                                    </option>
                                    <option value="Xbox One">Xbox One</option>
                                    <option value="Xbox 360">Xbox 360</option>
                                    <option value="Switch">Switch</option>
                                    <option value="Wii U">Wii U</option>
                                    <option value="Wii">Wii</option>
                                </select></td>
                            <td>{{format_time game.date_added}}</td>
                            <td><select class="form-select" id="editBeaten" aria-label="Is Betean?">
                                <option value="{{game.beaten}}" selected>{{game.beaten}}</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select></td>
                            <td><select class="form-select" id="editCurrentlyPlaying" aria-label="Currently Playing?">
                                <option value="{{game.currently_playing}}" selected>{{game.currently_playing}}</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select></td>
                            <td><button class="cnlEditBtn" data-id="{{game.id}}">Cancel</button></td>
                            <td><button class="deleteGameBtn" data-id="{{game.id}}">Delete</button></td>
                            <td><button class="saveGameBtn" data-id="{{game.id}}">Save</button></td>
                        </tr>
                        {{/each}}
                        {{/if}}
                        {{/each}}

                    </tbody>

                </table>
            </div>
        </div>

    </div>

</div>

<script src="./js/library.js"></script>