<!-- Library has two columns: -->
<!-- First: A table that contains all the games you've added. -->
<!-- Second: A means to filter the table -->

<div class="container">
    <!-- This first row just contains the heading and description -->
    <div class="row row-cols-1 justify-content-center my-3">
        <div class="col-md-auto text-center">
            <div class="container p-5">
                <h2>Your Library</h2>
                <p class="text-break fs-5 text-muted">On this page, you can see all the
                    games that you have added to your digital library. <br>
                    If you want to add another game, just click the "Add Game" button. <br>
                    If you want to edit existing game entries, just click on the entry you want to edit </br>
                </p>
            </div>
        </div>
    </div>
    <!-- This is a row that only contains the "Add Game" button -->
    <div class="row row-cols-1 justify-content-center my-3">
        <div class="d-grid gap-2 col-3">
            <button class="btn btn-outline-primary" id="addGame" type="button">+ Add
                Game</button>
        </div>
        <form id="addGameForm" class="border bg-secondary bg-gradient" style="display: none;">
            <div class="mb-3">
                <input type="text" class="form-control mt-2" id="gameName" placeholder="Game Title" />
            </div>
            <select class="form-select" id="platform" aria-label="Platform">
                <option selected>Platform</option>
                <option value="PC">PC</option>
                <option value="PS5">PS5</option>
                <option value="PS4">PS4</option>
                <option value="PS3">PS3</option>
                <option value="Xbox Series X and Xbox Series S">Xbox Series X and Xbox Series S</option>
                <option value="Xbox One">Xbox One</option>
                <option value="Xbox 360">Xbox 360</option>
                <option value="Switch">Switch</option>
                <option value="Wii U">Wii U</option>
                <option value="Wii">Wii</option>
            </select>
            <br>
            <div class="container ps-0">
                <div class="row">
                    <div class="form-check col-lg-2 row">
                        <h6 class="text-light col">Rating:</h6>
                        <div class="starRatingContainer col">
                            <div class="stars"></div>
                        </div>
                    </div>

                    <div class="form-check col-lg-2">
                        <input class="form-check-input" type="checkbox" id="beaten">
                        <label class="form-check-label text-light" for="beaten">
                            Beaten
                        </label>
                    </div>
                    <div class="form-check col-lg-2">
                        <input class="form-check-input" type="checkbox" id="currently_playing">
                        <label class="form-check-label text-light" for="currently_playing">
                            Currently Playing
                        </label>
                    </div>
                    <div>
                        <div class="row">
                            <div class="position-relative">
                                <button type="submit" id="submitGame"
                                    class="btn btn-primary btn-lg position-absolute bottom-0 start-50 translate-middle-x">Submit</button>
                            </div>
                            <div class="position-relative">
                                <button type="button" id="cancelGame"
                                    class="btn btn-primary btn-lg position-absolute bottom-0 end-0">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- modal popup if name isn't entered or platform wasn't selected --}}
                <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content border border-4 border-danger">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Missing Content!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    id="entryErrorClose"></button>
                            </div>
                            <div class="modal-body">
                                Please fill out the form accordingly.
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>



    <!-- This is the main row which contains the two columns -->
    <div class="row justify-content-center my-3">

        <!-- Filter-Table controls -->
        <div class="col-lg-2 col-sm-12 col-xs-12 text-center">
            <div class="container p-1">
                Filter By:
                <ul class="m-2 list-group">
                    <form method="get" action="/library/"><button type="submit"
                            class="list-group-item list-group-item-action {{f_none}}">None</button></form>
                    <form method="get" action="/library/currently_playing"><button type="submit"
                            class="list-group-item list-group-item-action {{f_current}}">Currently Playing</button>
                    </form>
                    <form method="get" action="/library/beaten"><button type="submit"
                            class="list-group-item list-group-item-action {{f_beaten}}">Beaten</button></form>
                    <form method="get" action="/library/platform"><button type="submit"
                            class="list-group-item list-group-item-action {{f_plat}}">Platform</button></form>
                </ul>
            </div>
        </div>

        <!-- Library Table -->
        <div class="col-lg-8 col-sm-12 col-xs-12 text-center">
            <div class="table-responsive-sm p-1" style="overflow: auto">
                <table class="table table-hover">

                    <!-- Heading row -->
                    <thead>
                        <tr>
                            <th scope="col">Game Title</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Beaten?</th>
                            <th scope="col">Currently Playing?</th>
                            <th scope="col">Date Added</th>
                            <th scope="col" class="d-none" id="cancelCol"></th>
                            <th scope="col" class="d-none" id="deleteCol"></th>
                            <th scope="col" class="d-none" id="saveCol"></th>
                        </tr>
                    </thead>

                    <!-- The actual games -->
                    <tbody id="ownedGames">
                        {{#each users as |user|}}
                        {{#if user.owned_games.length}}
                        {{#each user.owned_games as |game|}}
                        <tr class="userGames" id="{{game.id}}">
                            <th scope="row">{{game.name}}</th>
                            <td>{{game.platform}}</td>
                            <td class="p-0 rating-size">{{{star_rating game.rating}}} </td>
                            <td>{{#if game.beaten}}Yes{{else}}No{{/if}}</td>
                            <td>{{#if game.currently_playing}}Yes{{else}}No{{/if}}</td>
                            <td>{{format_time game.date_added}}</td>
                        </tr>
                        {{!-- edit game form --}}
                        <tr class="editGameForm d-none" id="{{game.id}}">
                            <th><input type="text" id="editName" value="{{game.name}}" /></th>
                            <td><select class="form-select" id="editPlatform" aria-label="Platform">
                                    <option value="{{game.platform}}" selected>{{game.platform}}</option>
                                    <option value="PC">PC</option>
                                    <option value="PS5">PS5</option>
                                    <option value="PS4">PS4</option>
                                    <option value="PS3">PS3</option>
                                    <option value="Xbox Series X and Xbox Series S">Xbox Series X and Xbox Series S
                                    </option>
                                    <option value="Xbox One">Xbox One</option>
                                    <option value="Xbox 360">Xbox 360</option>
                                    <option value="Switch">Switch</option>
                                    <option value="Wii U">Wii U</option>
                                    <option value="Wii">Wii</option>
                                </select></td>
                            <td><select class="form-select" id="editRating" aria-label="Star Rating">
                                    <option value="{{game.rating}}" selected>{{game.rating}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select></td>
                            <td><select class="form-select" id="editBeaten" aria-label="Is Betean?">
                                    <option value="{{game.beaten}}" selected>{{#if game.beaten}}Yes{{else}}No{{/if}}
                                    </option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select></td>
                            <td><select class="form-select" id="editCurrentlyPlaying" aria-label="Currently Playing?">
                                    <option value="{{game.currently_playing}}" selected>{{#if
                                        game.currently_playing}}Yes{{else}}No{{/if}}</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select></td>
                            <td>{{format_time game.date_added}}</td>
                            <td><button class="cnlEditBtn" data-id="{{game.id}}" >Cancel</button></td>
                            <td><button class="deleteGameBtn" data-id="{{game.id}}" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button></td>
                            <td><button class="saveGameBtn" data-id="{{game.id}}">Save</button></td>
                        </tr>
                        {{/each}}
                        {{/if}}
                        {{/each}}

                    </tbody>

                </table>
            </div>
            {{!-- modal popup if delete is clicked in edit form --}}

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="Confirm Delete"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center"><i class="bi bi-trash"></i></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteExit"></button>
                        </div>
                        <div class="modal-body">
                           <p>Are you sure you want to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="deleteClose">Close</button>
                            <button type="button" class="btn btn-primary" id="confirmDelete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="./js/library.js"></script>
<script src="./js/starRating.js"></script>